Create a list of squares of numbers from 1 to 10.

In [23]:
b=[n*2 for n in range(1,11)]
b

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Generate a list of even numbers from 1 to 20.

In [27]:
a=[i for i in range(1,20) if i%2==0]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18]

Create a list containing the first letter of each word in ["apple", "banana", "cherry", "date"].

In [33]:
fruits=['apple','banana','cherry','date']
first_letter=[i[0] for i in fruits ]
first_letter

['a', 'b', 'c', 'd']

Convert all words in a list to uppercase

In [39]:
a=[a.upper() for a in fruits]
a

['APPLE', 'BANANA', 'CHERRY', 'DATE']

Convert all words in a list to lowercase

In [41]:
a=[a.lower() for a in fruits]
a

['apple', 'banana', 'cherry', 'date']

Extract numbers greater than 50 from a given list.

In [55]:
ab=[i for i in range(1,60)]
bc=[i for i in ab if i>50]
bc

[51, 52, 53, 54, 55, 56, 57, 58, 59]

Create a list of cubes of even numbers between 1 and 15.

In [61]:
a=[i*i*i for i in range(1,16) if i%2!=0]
a

[1, 27, 125, 343, 729, 1331, 2197, 3375]

odd/even

In [67]:
a=[i for i in range(1,21) if i%2==0]
a
b=[i for i in range(1,21) if i%2!=0]
b

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Create a list of numbers divisible by 3 between 1 and 30.

In [71]:
three=[i for i in range(1,30) if i%3==0]
three

[3, 6, 9, 12, 15, 18, 21, 24, 27]

Create a list of numbers between 1 and 50 that are divisible by both 2 and 5.

In [77]:
num=[i for i in range(1,50) if i%2==0 and i%5==0]
num

[10, 20, 30, 40]

Create a list of numbers from 10 to 1 (reverse order).

In [89]:
lis=[i for i in range(1,16)]
lis.reverse()
lis

[15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

Create a list of squares of only even numbers between 1 and 15.

In [93]:
even_square=[i*i for i in range(1,15) if i%2!=0]
even_square

[1, 9, 25, 49, 81, 121, 169]

Create a list of numbers between 1 and 30 that are not divisible by 3.

In [97]:
lis=[i for i in range(1,30) if i%3!=0]
lis

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19, 20, 22, 23, 25, 26, 28, 29]

In [107]:
lis=[i for i in "python"]
lis

['p', 'y', 't', 'h', 'o', 'n']

In [109]:
ascii_values=[ord(i) for i in "abc"]
ascii_values

[97, 98, 99]

Create a list of characters in "education" that are not vowels.

In [141]:
vowels=[i for i in "education" if i in "aeiou"]
vowels

['e', 'u', 'a', 'i', 'o']

Convert each letter of "python" to uppercase.

In [113]:
upper_letter=[i.upper() for i in "python"]
upper_letter

['P', 'Y', 'T', 'H', 'O', 'N']

Convert each letter of "python" to lowercase.

In [117]:
upper_letter=[i.lower() for i in "PYTHON"]
upper_letter

['p', 'y', 't', 'h', 'o', 'n']

Repeat each letter of "hi" three times using list comprehension.

In [119]:
hi=[i*3 for i in "hi"]
hi

['hhh', 'iii']

Create a list of words from "Python is fun" by splitting it.

In [123]:
spliting=[i for i in "Python is fun".split()]
spliting

['Python', 'is', 'fun']

Convert each word in "Python is fun" to uppercase.

In [127]:
upper=[i.upper() for i in "Python is fun".split()]
upper

['PYTHON', 'IS', 'FUN']

Create a list of the lengths of words in ["apple", "banana", "kiwi", "mango"].

In [139]:
fruits=[len(i) for i in['apple','banana','kiwi','mango']]
fruits

[5, 6, 4, 5]

In [145]:
capital=[i for i in "Comprehension" if i.isupper()]
capital

['C']